<h1>Log in form</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username" id="">
  <input type="password" name="password" placeholder="password" id="">
  <input type="submit" value="Submit">
</form>