<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header text-center">Edit Comment</div>
        <div class="card-body p-4">
          <form action="/blog/{{post._id}}/comments?_method=PUT" method="post">
            <div class="form-group">
              <textarea name="comment[text]" cols="30" rows="10" id="postArea">{{comment.text}}</textarea>
            </div>
            <div class="form-group">
              <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
