<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{globalStrings.siteTitle}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="/library/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/dream.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top {{#if (not landingPage)}}navbar-shrink{{/if}}" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">{{globalStrings.siteTitle}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/blog">Blog</a>
            </li>
            {{#if currentUser}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item  js-scroll-trigger" href="/tools/shopping">Shopping List</a>
              </div>
            </li>
            {{/if}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Coding</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item  js-scroll-trigger" href="/coding/challenges">Challanges</a>
                <a class="dropdown-item  js-scroll-trigger" href="/coding/games">Games</a>
              </div>
            </li>
            {{#if currentUser}}
              <li class="nav-item"><a class="nav-link  js-scroll-trigger" href="/logout">Logout</a></li>
            {{else}}
              <li class="nav-item"><a class="nav-link  js-scroll-trigger" href="/register">Register</a></li>
              <li class="nav-item"><a class="nav-link  js-scroll-trigger" href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>



    {{#if (not landingPage)}}
    <div class="dreamSpace">
      {{/if}} {{{body}}} {{#if (not landingPage)}}
    </div>
    {{/if}}


    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            {{!--
            <span class="copyright">Copyright &copy; Your Website 2018</span> --}}
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/tech_dreamer_uk">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/Dreaming-of-Tech-277502449459161/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/in/stephen-watson-61373b15/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                {{!--
                <a href="#">Privacy Policy</a> --}}
              </li>
              <li class="list-inline-item">
                {{!--
                <a href="#">Terms of Use</a> --}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>



    <script src="/js/dream.js"></script>
  </body>

</html>