<div class="container">

  <h1 class="shopping">
    TO-DO List
    <span id="add" class="fa fa-plus shopping"></span>    
  </h1>
  <input type="text" class="shopping" name="" id="addTodo" placeholder="Add Text Here">
  <ul id="todolist"  class="shopping">   
  </ul>

  <script src="/js/tools/shopping.js"></script>
</div>
