<header class="masthead">

    <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To My World!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Tell Me More</a>
        </div>
      </div>
</header>

<!-- Services -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About Me</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-lg-12 text-center">
            <p class="text-muted">Hi, I'm Steve and I live in the UK. I love technology and get overly excited when I get to try out something new. This website will be a sort of portfolio of my projects and experiments. I will update the blog as often as possible with updates on what I have see and learn't and troubles that I have been able to overcome to achieve certain goals, with the hope that someone else can find the post and solve a similar problem.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="bg-light" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Blog</h2>
            <h3 class="section-subheading text-muted">My latest posts</h3>
          </div>
        </div>
        
        <div class="row text-center">
          {{#each blog}}
          <div class="col-md-4 col-sm-12">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              {{#if this.icon}}
              <i class="fa {{this.icon}} fa-stack-1x fa-inverse"></i>
              {{else}}
              <i class="fa fa-code fa-stack-1x fa-inverse"></i>
              {{/if}}
            </span>
            <h4 class="service-heading">{{this.title}}</h4>
            <p class="text-muted">{{{this.post}}}</p>
          </div>
          {{/each}}
        </div> 
      </div>
    </section>
