<h1 class="n_c">Noughts & Crosses</h1>
<h3 class="n_c">Player - X, Computer - O</h3>

<table class="n_c">
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<button id="reset" class="n_c">Reset</button>
<script src="/js/challenges/noughts_crosses.js"></script>
</body>