<p>
    This section of my website has been inspired by Daniel Schiffman of the Coding Train. I love the videos where he sets himself
    a challenge and then tries to achieve it. Sounds simple enought right? well lets fnd out.
</p>

<p>
    One of my ambitions for the site is that I can use it to teach myself JavaScript and its various libraries. The styling may
    seem rough for these challenges, however the main element for me is the coding of the functionality.
</p>

<p>
    I hope you enjoy.
</p>

<div class="challengeList">
    <ul>
        <li>
            <a href="/coding/challenges/noughts_crosses">Noughts and Crosses</a>
        </li>
    </ul>
</div>