<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header text-center">Create a New Post</div>
        <div class="card-body p-4">
          <form action="/blog" method="post">
            <div class="form-group row">
              <label for="blog[title]" class="col-2">Cover Image</label>
              <input class="form-control col-9" type="text" name="blog[title]" placeholder="title">
            </div>
            <div class="form-group row">
              
              <label for="blog[image]" class="col-2">Cover Image</label>
              <input class="form-control col-9" type="text" name="blog[image]" placeholder="image">
            </div>
            <div class="form-group row">
              <label for="blog[icon]" class="col-2">Icon</label>
              <input class="form-control col-9" type="text" name="blog[icon]" placeholder="FA icon (fa-****)">
            </div>
            <div class="form-group">
              <textarea name="blog[post]" cols="30" rows="10" id="postArea"></textarea>
            </div>
            <div class="form-check mt-2 mb-2 justify-content-left">
              <input class="form-check-input" type="checkbox" name="blog[published]">
              <label class="form-check-label" for="blog[published]">Published</label>
            </div>

            <div class="form-group">
              <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
            </div>

          </form>
          
          <a href="/blog">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("postArea") });
</script>